<%- include("templates/header") %>
<h2>Create Group</h2>

<form action="/createGroup" method="POST">
    <label for="groupName">Group Name:</label>
    <input type="text" id="groupName" name="groupName" required><br><br>

    <div style="max-height: 100px; width:100%; overflow-y: auto;">
        <% users.forEach(user => { %>
            <input type="checkbox" id="<%= user.username %>" name="selectedUsers" value="<%= user.username %>">
            <label for="<%= user.username %>"><%= user.username %></label><br>
        <% }); %>
    </div><br>

    <button type="submit">Create Group</button>
</form>

<%- include("templates/footer") %>


