<%- include("templates/header") %>
<% if (authenticated) { %>
    <h2>Your Chats</h2>
    <table style="width: 100%;">
        <thead>
            <tr>
                <th style="padding: 5px; text-align: left;">Group Name</th>
                <th style="padding: 5px; text-align: left;">Last Message</th>
                <th style="padding: 5px; text-align: left;">Unread Messages</th>
            </tr>
        </thead>
        <tbody>
            <% userGroups.forEach(group => { %>
                <tr>
                    <td style="padding: 5px; text-align: left;">
                        <a href="/group/<%= group.room_id %>/messages"><%= group.name %></a>
                        <% if (group.unread_messages_count > 0) { %>
                            (<%= group.unread_messages_count %>)
                        <% } %>
                    </td>
                    <td style="padding: 5px; text-align: left;">
                        <% if (group.lastMessage.sent_datetime) { %>
                            <% const lastMessageDate = new Date(group.lastMessage.sent_datetime); %>
                            <% const todayAdjusted = new Date(Date.now() - (7 * 60 * 60 * 1000)); %>
                            <% const diffHours = Math.floor((todayAdjusted - lastMessageDate) / (1000 * 60 * 60)); %>
                            <% const formattedDate = lastMessageDate.toLocaleString('en-US', { month: 'short', day: 'numeric' }); %>
                            <% if (diffHours < 24) { %>
                                <%= formattedDate %> (Today)
                            <% } else if (diffHours < 48) { %>
                                <%= formattedDate %> (Yesterday)
                            <% } else { %>
                                <%= formattedDate %> (<%= Math.floor(diffHours / 24) %> days ago)
                            <% } %>                                                      
                        <% } else { %>
                            No messages
                        <% } %>
                    </td>
                    <td style="padding: 5px; text-align: left;"><%= group.unread_messages %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>

    <p>Total Groups: <%= totalGroups %></p>
    <form action="/createGroup" method="GET">
        <button type="submit">Create Group</button>
    </form>
<% } else { %>
  <a href="/signup"><button>Sign Up</button></a><br>
  <a href="/login"><button>Log In</button></a>
<% } %>

<%- include("templates/footer") %>
